<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BarberShop</title>
  
  <link rel="stylesheet" href="css/aboutUs.css">
  <link rel="stylesheet" href="css/contacts.css">

<% include _header %>

	<div class="container">
	<% include _topMenu %>
		<h3 class="aboutUs_header">О нас </h3>
		<div class="aboutUs_imgBlock"> 

			<img class="aboutUs_img" src="images/aboutUs.jpg">
		</div>
		<div class="aboutUs_infoBlock"> 
			<p class="aboutUs_info">
			 	Для наших клиентов мы создали атмосферу комфорта,уюта и заботы,старались превратить наш салон в такое место,посещение которого доставит Вам истинное наслаждение.
			 </p>

			<p class="aboutUs_info">
				Мастера нашего салона с радостью исполнят ваши пожелания,помогут вам почувствовать себя молодыми,жизнерадостными и уверенными в себе.Косметологи  позаботятся о молодости кожи лица и тела,мастера маникюра и педикюра - о красоте и изяществе ваших рук,ног и ногтей.
			</p>

			<p class="aboutUs_info">
				Мы используем в работе давно зарекомендовавшие себя бренды:Wella,Matrix,Bes,Gehwol и многие другие. 
			</p>
		</div>

	<% include _contacts %>
	</div>

	

</body>
</html>