<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BarberShop</title>
  
  <link rel="stylesheet" href="css/contacts.css">

<% include _header %>
<% include _topMenu %>
<h3 class="contactsPage_header">Контакты </h3>
<div class="contactsPage_content">
		<div class="adressBlock">
			<h5 class="adressBlock_header">
				НАШ АДРЕС
			</h5>
			<p class="adressBlock_p">FaireBelle</p>
			<p class="adressBlock_p">ул. Мира, 25, Санкт-Петербург, Россия</p>
			<p class="adressBlock_p">+7(987)000-00-00</p>
			<p class="adressBlock_p">barbershop@mail.com</p>
		</div>
		<div class="workTimeBlock">
			<h5 class="workTimeBlock_header">
				ЧАСЫ РАБОТЫ
			</h5>
			<p class="workTime_p">Понедельник - пятница: 12:00-23:00</p>
			<p class="workTime_p">Суббота: 11:00-00:00</p>
			<p class="workTime_p">Воскресение: 12:00-00:00</p>
		</div>
		<div class="imgBlock">
			<img src="images/map.jpg">
		</div>
</div>