.jumbotron {
  background: #fff;
}
.fa {
  font-size: 0.5em;
}
table {
  width: 35%;
}
th {
  text-align: center;
}
td {
  width: 7%;
  height: 6%;
  text-align: center;
  font-size: 1.5em;
}
td,
#year {
  font-family: monospace;
}
.hover {
  background: #eee;
}
#about {
  font-size: 5em !important;
  position: absolute;
  top: -35px;
  right: 15px;
}
#about a {
  text-decoration: none;
}
.calendar{
    float: right;
    width: 35%;
  }

  @media (max-width: 900px) {
    .calendar{
      width: 45%;
    }
  }

  @media (max-width: 600px) {
    .calendar{
      float: none;
    }
  }
